# Git ignore rules 

# Flutter/Dart specific
.dart_tool/
.packages
build/
pubspec.lock

# IDE-specific files
.vscode/
.idea/

# OS-specific files
macos/
windows/
linux/

# Flutter environment
.flutter-plugins
.flutter-plugins-dependencies

# Firebase and credentials (if using Firebase)
google-services.json
google-services-info.plist

# Other unnecessary files
*.iml
.metadata
